
<h2>List of Requests</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>ID</th>
    <th>employee name</th>
    <th>Description</th>
    <th>Cost</th>
    <th>Date</th>
    <th>Status</th>
    <th>Image</th>
    <th></th>
  </tr>
  </thead>
    <tr *ngFor="let req of allReqs">
      <td>{{ req.requestID }}</td>
      <td>{{ req.employeeID }}</td>
      <td>{{ req.description}}</td>
      <td>{{ req.cost}}</td>
      <td>{{ req.date}}</td>
      <td>{{ req.status}}</td>
      <!--    <td><img [src]="req.bookImage" height="50px" width="80px"/></td>-->
      <td>{{ req.imageLink }}</td>

      <td>
        <button
          type="button"
          class="btn btn-danger small"
          (click)="approveRequest(req)">
          <span class="material-icons">Approve</span>
        </button>
      </td>
      <td>
        <button
          type="button"
          class="btn btn-primary small"
          (click)="denyRequest(req)">
          <span class="material-icons">Deny</span>
        </button>
      </td>
    </tr>
  <tbody>
  </tbody>
</table>
